html,
body,
main {
  margin: 0;
  height: 100%;
  font-family: Helvetica, sans-serif;
  background-color: #363636;
}

header {
  background-color: #2b2f31;
  height: 35px;
  user-select: none;
  -webkit-app-region: drag;
}

nav {
  margin-left: 5px;
}

.darwin-nav {
  margin-left: 80px;
}

button {
  background-color: #454545;
  color: #fff;
  font-weight: 700;
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 5px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6px;
  outline: none;
}

#chooseBaseDir {
  color: #e2e2e2;
  text-align: center;
  height: 200px;
  width: 500px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 250px);
}

#dirPicker {
  color: white;
  border-radius: 20px;
  background-color: #505050;
  border: solid 1px white;
  width: 400px;
  height: 100px;
}

button:active {
  background-color: #757575;
}

#addFile {
  background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 42 42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="m37.059 16h-11.059v-11.059c0-2.717-2.282-4.941-5-4.941s-5 2.224-5 4.941v11.059h-11.059c-2.717 0-4.941 2.282-4.941 5s2.224 5 4.941 5h11.059v11.059c0 2.717 2.282 4.941 5 4.941s5-2.224 5-4.941v-11.059h11.059c2.717 0 4.941-2.282 4.941-5s-2.224-5-4.941-5z"/></svg>');
}

#removeFile {
  background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 42 42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="m37.059 16h-11.059-10-11.059c-2.717 0-4.941 2.282-4.941 5s2.224 5 4.941 5h11.059 10 11.059c2.717 0 4.941-2.282 4.941-5s-2.224-5-4.941-5z"/></svg>');
}

#saveFile {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="m0 2c0-1.1.9-2 2-2h14l4 4v14a2 2 0 0 1 -2 2h-16a2 2 0 0 1 -2-2zm5 0v6h10v-6zm6 1h3v4h-3z"/></svg>');
}

#refreshButton {
  background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 32 32" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="m28 16c-1.219 0-1.797.859-2 1.766-.731 3.264-3.833 8.234-10 8.234-5.523 0-10-4.478-10-10s4.477-10 10-10c2.24 0 4.295.753 5.96 2h-1.96c-1.104 0-2 .896-2 2s.896 2 2 2h6c1.104 0 2-.896 2-2v-6c0-1.104-.896-2-2-2s-2 .896-2 2v.518c-2.267-1.586-5.023-2.518-8-2.518-7.732 0-14 6.268-14 14s6.268 14 14 14c9.979 0 14-9.5 14-11.875 0-1.453-1.062-2.125-2-2.125z"/></svg>');
}

#changeBaseDir {
  background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 510 510" height="510" viewBox="0 0 510 510" width="510" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="m204 51h-153c-28.05 0-51 22.95-51 51v306c0 28.05 22.95 51 51 51h408c28.05 0 51-22.95 51-51v-255c0-28.05-22.95-51-51-51h-204z"/></svg>');
}

#search {
  background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 512.005 512.005" viewBox="0 0 512.005 512.005" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="m505.749 475.587-145.6-145.6c28.203-34.837 45.184-79.104 45.184-127.317 0-111.744-90.923-202.667-202.667-202.667s-202.666 90.922-202.666 202.666 90.923 202.667 202.667 202.667c48.213 0 92.48-16.981 127.317-45.184l145.6 145.6c4.16 4.16 9.621 6.251 15.083 6.251s10.923-2.091 15.083-6.251c8.341-8.341 8.341-21.824-.001-30.165zm-303.082-112.918c-88.235 0-160-71.765-160-160s71.765-160 160-160 160 71.765 160 160-71.766 160-160 160z"/></svg>');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: left 3px center;
  width: 200px;
  padding-left: 23px;
  height: 23px;
  background-color: #3c3c3c;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  vertical-align: top;
  margin-top: 6px;
  float: right;
  margin-right: 10px;
}

#search::-webkit-search-cancel-button {
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 512.001 512.001" viewBox="0 0 512.001 512.001" xmlns="http://www.w3.org/2000/svg"><path fill="%23fff" d="m284.286 256.002 221.857-221.858c7.811-7.811 7.811-20.475 0-28.285s-20.475-7.811-28.285 0l-221.858 221.858-221.857-221.858c-7.811-7.811-20.475-7.811-28.285 0s-7.811 20.475 0 28.285l221.857 221.857-221.857 221.858c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857l221.856-221.857 221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285z"/></svg>');
}

.split {
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  background-color: #1e1e1e;
  cursor: col-resize;
}

#grid {
  height: calc(100% - 35px);
  display: grid;
}

#txtFileList {
  background-color: #252526;
  color: #ccc;
}

.renaming {
  color: #868687;
}

#txtFileView {
  background-color: #1e1e1e;
}

#txtFileView textarea {
  width: calc(100% - 10px);
  height: calc(100% - 36px);
  padding: 5px;
  border: 0;
  margin: 0;
  resize: none;
  box-shadow: none;
  font-size: 14px;
  outline: none;
  background-color: #1e1e1e;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 13px;
  user-select: none;
}

.fileNameEdit {
  width: calc(100% - 2px);
  background-color: #3c3c3c;
  color: white;
  outline: none;
  box-shadow: none;
  border: none;
}

.highlight {
  background-color: #0f517b !important;
}

.edited {
  color: red;
  font-weight: bold;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid #007fd4;
}

#lastModified {
  margin: 0;
  padding-top: 2px;
  text-align: center;
  color: gray;
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #363636;
}
