<!-- File viewer -->

<header>
  <nav>
    <menu>
      <button class='addRemove' id='addFile' title='Create a new file'></button>
      <button class='addRemove' id='removeFile' title='Delete selected file'></button>
      <button class='addRemove' id='saveFile' title='Save file'></button>
      <button class='addRemove' id='refreshButton' title='Refresh'></button>
      <button class='addRemove' id='changeBaseDir' title='Change directory'></button>
    </menu>
    <h1>txt-notes</h1>
    <input type='search' id='search' placeholder='Search'>
  </nav>
</header>
<section id='grid'>
  <section id='txtFileList' class='split split-horizontal'>
    <ul id='fileNames'>
      <include src='noteList'></include>
    </ul>
  </section>
  <div class='gutter'></div>
  <section id='txtFileView' class='split split-horizontal'>
    <p id='lastModified'></p>
    <textarea id='fileEditor'></textarea>
  </section>
  <section id='printArea'></section>
</section>
