<!-- File viewer -->

<header>
  <nav>
    <button class='addRemove' id='addFile' title='Create a new file'></button>
    <button class='addRemove' id='removeFile' title='Delete selected file'></button>
    <button class='addRemove' id='saveFile' title='Save file'></button>
    <button class='addRemove' id='refreshButton' title='Refresh'></button>
    <button class='addRemove' id='changeBaseDir' title='Change directory'></button>
    <input type='search' id='search' placeholder='Search'>
  </nav>
</header>
<section id='txtFileList' class='split split-horizontal'>
  <ul id='fileNames'>
    <include src='noteList'></include>
  </ul>
</section>
<section id='txtFileView' class='split split-horizontal'>
  <p id='lastModified'></p>
  <textarea id='fileEditor'></textarea>
</section>
